<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Cadastro de Candidatos{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block body %}

    <body>
        
        <main id="conteudo">

            <div class="container">
                <div class="col-lg-8 offset-lg-2">

                    <section data-info="cadastroCandidatoAnuncio">
                        <h2 class="text-center">Cadastre-se na nossa plataforma de empregos.</h2>
                        <h3 class="text-center">A maior plataforma de empregos em Django do Brasil.</h3>
                    </section>

                    <section>
                        <form class="row" action="#" method="POST" data-info="cadastroCandidatoForm">
                            {% csrf_token %}
    
                        </form>
                        <hr>
                    </section>

                </div>
            </div>

        </main>
    </body>

{% endblock %}