<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Vizualizando seu perfil{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block body %}

<body>
    <header>
        {% include 'partials/_sidebar.html' %}
    </header>

    <main id="conteudo_sidebar">

        <div class="container">
            <div class="col-lg-9 offset-lg-1">

                <section data-info="mensagemBoasVizualizandoPerfil">
                    <h2>Olá {{ perfil.nome }}</h2>
                </section>

            </div>
        </div>

    </main>

</body>

<!--Para indicar o fil do bloco body-->
{% endblock %}