<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<section data-info="navbar-login-cadastro">
    <div class="container">
        <div class="col-lg-9 offset-lg-1">
            <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
                <ul class="navbar-nav">
                    <div class="nav-item" data-info="botaoLogin">
                        <a class="btn btn-outline-primary" role="button" href="{% url 'login' %}">Login</a>
                    </div>
                    <div class="nav-item" style="margin-left: 10px;" data-info="botaoCadastro">
                        <a class="btn btn-outline-success" role="button" href="{% url 'cadastro' %}">Cadastro</a>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</section>
