    <!--Para carregar os arquivos estaticos na pagina.-->
    {% load static %}

    <nav data-info="navSideBar">
        <div id="sideBar" class="sidenav aberto">

            <div class="container-fluid">
                                  
                {% if request.user.tipo_user == "CAND" %}
                <a class="collapse-escolha" data-bs-toggle="collapse" href="#collapseSeuPerfil" aria-expanded="false"
                    aria-controls="collapseSeuPerfil">
                    Seu Perfil
                </a>
                <div class="collapse" id="collapseSeuPerfil">
                    <a class="collapse-opcoes" href="{% url 'visualizandoperfil' %}">Vizualizar Perfil</a>
                    <a class="collapse-opcoes" href="#">Editar Perfil</a>
                    <hr>
                </div>

                {% elif request.user.tipo_user == "EMPR" %}
                <a class="collapse-escolha" data-bs-toggle="collapse" href="#collapseSuaInfo" aria-expanded="false"
                    aria-controls="collapseSuaInfo">
                    Informações da empresa
                </a>
                <div class="collapse" id="collapseSuaInfo">
                    <a class="collapse-opcoes" href="{% url 'visualizandoinfo' %}">Vizualizar Informações</a>
                    <a class="collapse-opcoes" href="#">Editar Informações</a>
                    <hr>
                </div>

                {% endif %}

                <a class="collapse-escolha" href="{% url 'logout' %}">Logout</a>

            </div>
    
        </div>
    
        <button onclick="manipularNav()" class="btn shadow-none" id="botaoSideBar">
            <svg width="16" height="16">
                <use href="{% static 'bootstrap/icons/list.svg' %}#listsvg"></use>
            </svg>
        </button>
    </nav>
    