<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Login{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block body %}

<body>

    <main>

        <div class="container">
            <div class="col-lg-9 offset-lg-1">

                <h1>ola mundo</h1>

            </div>
        </div>

    </main>

</body>

{% endblock %}