<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Nossas vagas{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block body %}
<body>
    <header>
        {% include 'partials/_sidebar.html' %}
    </header>
    <main id="conteudo_sidebar">
        <div class="container">
            <div class="col-lg-9 offset-lg-1">

                <section class="container" data-info="mensagemBoasVisualizandoTodasVagas">
                    <h2 class="text-center">Aqui estão todas nossa vagas</h2>
                    <h3 class="text-center">Aproveite!!</h3>
                    <hr>
                </section>

                {% if todasvagas %}
                    <section>
                    {% for vagas in todasvagas %}
                    
                        <div class="container border border-success col-md-6 botaoVagas" data-info="campo_{{ vagas.nome_vaga }"}>
                            <a href="#" class="pb-3 text-decoration-none text-center">
                                <div class="textoBotaoVagas">
                                    <h6 >{{ vagas.nome_vaga }}</h6>
                                    <h6 class="fw-light">Clique aqui para visualizar a vaga.</h6>
                                </div>
                            </a>
                        </div>

                    {% endfor %}
                    </section>
                    {% include 'partials/_paginador.html' %}
                {% endif %}

            </div>
        </div>
    </main>
    
</body>

<!--Para indicar o fil do bloco body-->
{% endblock %}