<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Para carregar o widget tweaks na pagina.-->
{% load widget_tweaks %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Cadastrando suas informações{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block body %}

<body>
    <main>

        <div class="container">
            <div class="col-lg-9 offset-lg-1">

                <section data-info="cadastroInfoAviso">
                    <h2 class="text-center">Para poder aproveitar nossa plataforma conclua o cadastro.</h2>
                    <hr>
                </section>

                <section>
                    <form method="post" class="row justify-content-center" action="{% url 'inseridoinfo' %}" data-info="infoEmpresaForm">
                        {% csrf_token %}
    
                        <h3 class="text-center" data-info="textoInfoForm">Informações Adicionais</h3>
                        
                        {% for field in form_info.visible_fields %}
                            <div class="form-group col-sm-7" data-info="campo_{{ field.name }}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                            </div>
                        {% endfor %}
                        <div class="w-100"></div>
                        <div class="col-sm-5 botaoVerde" data-info="botaoInfo">
                            <button class="w-100 btn btn-outline-success" type="submit">Concluir Cadastro</button>
                        </div> 
    
                    </form>
                </section>

            </div>
        </div>

    </main>
</body>
<!--Para indicar o fil do bloco body-->
{% endblock %}